<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="menu">
        <div class="menu-items ib" id="File">File</div>
        <div class="menu-items ib" id="Home">Home</div>
    </div>
    <div class="menu-options">
        <div class="menu-options-item" id="File-options">
            <div class="ib"  id="New">New</div>
            <div class="ib" id="Open">Open</div>
            <div class="ib" id="Save">Save</div>
        </div>
        <div class="menu-options-item" id="Home-options">
            <div class="menu-group">
                <div class="menu-row">
                    <select name="" id="font-family">
                        <option value="Arial" selected>Arial</option>
                        <option value="Cambria">Cambria</option>
                        <option value="Courier">Courier</option>
                        <option value="Charcole">Charcole</option>
                        <option value="cursive">cursive</option>
                        <option value="Helvetica">Helvetica</option>
                        <option value="Impact">Impact</option>
                        <option value="Lucida Console">Lucida Console</option>
                        <option value="monospace">monospace</option>
                        <option value="sans-serif">sans-serif</option>
                        <option value="sans">sans</option>
                        <option value="serif">serif</option>
                        <option value="Times New Roman">Times New Roman</option>
                    </select>
                    <select name="" id="font-size">
                        <option value="8">8</option>
                        <option value="10">10</option>
                        <option value="12" selected>12</option>
                        <option value="14">14</option>
                        <option value="16">16</option>
                        <option value="18">18</option>
                        <option value="20">20</option>
                        <option value="22">22</option>
                        <option value="24">24</option>
                        <option value="26">26</option>
                        <option value="28">28</option>
                        <option value="30">30</option>
                        <option value="32">32</option>
                    </select>
                </div>
                <div class="menu-row">
                    <input type="button" value="B" id="bold">
                    <input type="button" value="U" id="underline">
                    <input type="button" value="I" id="italic">
                    <input type="color" name="bg-color" id="bg-color" value="#FFFFFF">
                    <input type="color" name="text-color" id="text-color" value="#000000">
                </div>
            </div>
            <div class="menu-group">
                <div class="menu-row">
                    <input type="button" value="L" id="left" class="bold">
                    <input type="button" value="C" id="center" class="bold">
                    <input type="button" value="R" id="right" class="bold">
                </div>
                <div class="menu-row">
                    <button id="cut" class="home-button"><i class="fa fa-cut"></i></button>
                    <button id="copy"class="home-button"><i class="fa fa-copy"></i></button>
                    <button id="paste"class="home-button"><i class="fa fa-paste"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="formula-bar">
        <input type="text" id="address-container">
        <input type="text" id="formula-container">
    </div>
    <div class="cell-container" id="cell-container">
        <div class="top-left-cell" id="top-left-cell">

        </div>
        <div class="top-row" id="top-row">
            <%for(let j=0;j<cols;j++){%>
                <div class="cell" id="cell">
                    <%=String.fromCharCode(65+j)%>
                </div>
            <%}%>
        </div>
        <div class="left-col" id="left-col">
            <%for(let i=1;i<=rows;i++){%>
                <div class="cell" id="cell">
                    <%=i%>
                </div>
            <%}%>
        </div>
        <div class="grid" id="grid">
            <%for(let i=0;i<rows;i++){%>
                <div class="row">
                    <%for(let j=0;j<cols;j++){%>
                        <div class="cell" contenteditable="true" row-id=<%=i%> col-id=<%=j%> >
                        </div>
                    <%}%>
                </div>
                <%}%>
        </div>
    </div>
    <div class="sheets">Sheets</div>
    <script src="index.js"></script>
</body>

</html>